### Java / Spring Boot ###
target/
*.class
*.log
*.jar
*.war
*.iml
*.iws
*.ipr
out/
bin/
.gradle/
build/
.mvn/

### Sensitive files ###
application.properties
application.yml
.env
*.env

### Frontend (React) ###
node_modules/
dist/
build/
.next/
*.cache/

### IDE Files ###
.idea/
.vscode/
*.swp
*.swo

### OS Files ###
.DS_Store
Thumbs.db
